*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.header{
    background-color: black;
    color: antiquewhite;
    padding: 30px;
}

h1,ul,li{
    display: inline;
}

ul{
    margin-left: 60%;
}
li{
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}
li:hover{
    color: antiquewhite;
}
.searchbar{
    margin-top: 30px;
    text-align: center;
}

input{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}
.box{
    margin: 50px;
    text-align: center;
}
.box1{
    width: 150px;
    display: inline-block;
    border: 2px solid black;
    margin-left: 20px;
}
.box1:hover{
    background-color: black;
    color: antiquewhite;
}
img{
    width: 150px;
}
.about{
    margin-top: 50px;
    text-align: center;
}
.para{
    margin-top: 10px;
}
.footer{
    margin-top: 40px;
    text-align: center;
    background-color: black;
    color: antiquewhite;
}
